body {
    background-color: #1D232A;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    top: 0;
    margin-top: 0;
    left: 0;
    margin-left: 0;
    margin-right: 0;
}

.icones-menu {
    display: none;
}


.menu-card {
    display: flex;
    padding: 5px;
}

.menu {
    display: flex;
    justify-content: end;
    padding: 1em;
}


.texto-menu {
    display: none;
    text-align: center;
    align-items: center;
    padding: 1em;
    color:  #bdc1c6;
}


.nome {
    font-size: 24px;
    font-weight: bold;
}

.material-icons.md-18 {
    font-size: 14px; 
}

.texto-perfil {
    line-height: 2em;
}

.perfil-img {
    background-color: #525d68;
    border-radius: 110px;
    border: white 2px solid;
}

hr {
    width: 50%;
}

.perfil {
    text-align: center;
    padding: 2em;
    align-items: center;
}

.projetos {
    display: flex;
    justify-content: space-around;
}

.texto-projeto {
    text-align: left;
    padding-left: 150px;
    font-size: 24px;
}

footer {
    display: none;
}


@media screen and  (max-device-width: 700px) {

    .icone-item {
        background-color: black;
        color: #bdc1c6;
        border: none;
    }
    
    .icones-menu {
        display: flex;
        justify-content: space-between;
        background-color: black;
        width: 97%;
        position: fixed;
        padding: 5px;
        height: 60px;
    }
    
    .menu-item {
        display: block;        
    }
    

    .texto-menu {
        display: flex;
        text-align: center;
        align-items: center;
        padding: 10px;
        color:  #bdc1c6;
    }
    
    .menu-card {
        display: flex;
        padding: 10px;
        align-items: center;
        
    }
    
    .menu {
        display: none;
        background-color: black;
        width: 65%;
        height: 100vh;
        padding-left: 10px;
    }
    
    .perfil {
        display: block;
        margin-top: 60px;
        align-items: center;
        text-align: center;
    }

    .perfil-img {
        background-color: #525d68;
        border-radius: 110px;
        border: white 2px solid;
    }

    hr {
        width: 50%;
    }

    .texto-projeto {
        padding: 1em;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    .projetos {
        display: grid;
        gap: 2em;
        align-items: center;
        text-align: center;
    }
    
    .texto-card-projetos {
        text-align: left;
        padding-left: 20px;
    }
    
    footer {
        font-size: 10px;
        text-align: center;
        padding-top: 20px;
    }

}



